backports-abc==0.5
backports.functools-lru-cache==1.5
bottle==0.12.17
CProfileV==1.0.7
cycler==0.10.0
decorator==4.4.0
futures==3.3.0
kiwisolver==1.1.0
matplotlib==2.2.4
networkx==1.9.1
numpy==1.16.4
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
singledispatch==3.4.0.3
six==1.12.0
snakeviz==2.0.1
subprocess32==3.5.4
tornado==6.3.3
XlsxWriter==1.1.8
